<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Acesso e Cadastro</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h2>Cadastro de Usuário</h2>
    <form action="{{ url_for('cadastro') }}" method="POST">
        <label for="novousuario">Novo Usuário:</label>
        <input type="text" id="novousuario" name="novousuario" required>

        <label for="novasenha">Nova Senha:</label>
        <input type="password" id="novasenha" name="novasenha" required>

        <input type="submit" value="Cadastrar">

        <a href="{{ url_for('index') }}">Clique aqui para login</a>
    </form>
</div>

</body>
</html>